body,html{
  width: 100%;
}

// color
$clair:#0B5A97;
$fonce:#021828;
$bleu:#0B3C61;

// BEGIN


// Dropdown phone
#socialShare a{
  border-radius: 5px;
  margin-top: 5px;
}
#socialShare{

  .share{
    background-color: $bleu;
    border-color: $clair;
  }
  .dropdown-menu{
    background-color: none;
    min-width: 2px;
    padding: 0;
    a{
      color:#FFFFFF!important;
    }
    .btn-twitter {
        background-color: #3399CC !important;
        width: 51px;
    }
    .btn-facebook {
        background-color: #3D5B96 !important;
        width: 51px;
    }
    .btn-google {
        background-color: #DD3F34 !important;
        width: 51px;
    }
  }
}
// end dropdown phone

#header{
   background-color: $fonce;
   position: fixed;
   width: 100%;
   z-index: 100;
   .dropdown{
     i{
       padding: 5px 10px;
       margin: 5px 10px;
       font-size: 22px;
     }
   }
   .header{
    display: flex;
    justify-content: space-around;
    .nav{
      a{
        font-size: 20px;
        padding: 10px 10px;
      }
    }

  }
}

#para1{
  .home{
    padding-top: 40px;
    height: 100vh;
    background-image: url("../img/desktop/bg1.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h1{
      font-size: 17vw;
      position: absolute;
      top: 30%;
      margin-left: 50%;
      left: -35vw;
      line-height: 0.9em;
      font-weight: bold;
      span{
        line-height: 0px;
        font-size: 9vw;
        font-weight: 400;
      }
    }
  }
  .projets{
    background-color: $clair;
    h2{
      font-size: 3em;
      color: white;
      padding: 40px 0;
      text-align: center;
    }
    figure{
      margin: 0;
      padding: 0;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
}
