body, html {
  width: 100%;
}

h2 {
  font-family: "Lobster" !important;
  font-size: 4em !important;
  color: white !important;
  padding: 40px 0;
  text-align: center;
  font-style: italic !important;
  transform: rotate(-5deg) !important;
  font-weight: bold !important;
}

h4 {
  color: #3399CC !important;
  font-weight: bold !important;
  font-family: 'Permanent Marker' !important;
}

#socialShare a {
  border-radius: 5px;
  margin-top: 5px;
}

#socialShare .share {
  background-color: #0B3C61;
  border-color: #0B5A97;
}
#socialShare .dropdown-menu {
  background-color: none;
  min-width: 2px;
  padding: 0;
}
#socialShare .dropdown-menu a {
  color: #FFFFFF !important;
}
#socialShare .dropdown-menu .btn-twitter {
  background-color: #3399CC !important;
  width: 51px;
}
#socialShare .dropdown-menu .btn-facebook {
  background-color: #3D5B96 !important;
  width: 51px;
}
#socialShare .dropdown-menu .btn-google {
  background-color: #DD3F34 !important;
  width: 51px;
}

.modal-backdrop {
  z-index: 1 !important;
}

#header .header .desktopSocial {
  position: relative;
}
#header .header .desktopSocial a i {
  margin-top: 10px;
  color: white;
  line-height: 30px;
  letter-spacing: 10px;
}
#header .header .desktopSocial a i:hover {
  color: #3399CC;
}
#header #socialHolder {
  padding: 0;
}
#header h4 {
  margin-top: 10px;
  font-size: 30px;
}
#header .dropdown button {
  padding: 0;
  margin: 5px;
  background-color: transparent;
  border-color: transparent;
}
#header .dropdown button i {
  padding: 0;
  color: #3399CC;
}
#header .dropdown #exampleModalLong .modal-dialog {
  float: left;
  width: 100%;
  height: 80%;
  margin: 0;
}
#header .dropdown #exampleModalLong .modal-dialog .modal-content {
  height: 100%;
  background-color: #021828;
}
#header .dropdown #exampleModalLong .modal-dialog .modal-header {
  background-color: #021828;
}
#header .dropdown #exampleModalLong .modal-dialog .modal-header h5 {
  text-align: center;
  color: white;
  font-weight: bold;
}
#header .dropdown #exampleModalLong .modal-dialog .modal-header button {
  color: #3399CC;
  font-size: 30px;
  text-shadow: none;
}
#header .dropdown #exampleModalLong .modal-dialog .modal-body {
  padding: 0;
}
#header .dropdown #exampleModalLong .modal-dialog a {
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #021828;
  transition: 0.2s;
}
#header .dropdown #exampleModalLong .modal-dialog a:hover {
  color: #3399CC;
  background-color: white;
}
#header .dropdown #exampleModalLong .modal-dialog .modal-footer {
  background-color: #021828;
}
#header .dropdown #exampleModalLong .modal-dialog .modal-footer a {
  padding: 0;
}
#header .dropdown #exampleModalLong .modal-dialog .modal-footer a i {
  padding: 10px;
  font-size: 40px;
}

#header {
  background-color: #02243E;
  position: fixed;
  width: 100%;
  z-index: 100;
}
#header .dropdown i {
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: 22px;
}
#header .header {
  display: flex;
  justify-content: space-around;
}
#header .header .nav a {
  font-size: 20px;
  padding: 10px 10px;
}

#para1 .home {
  padding-top: 40px;
  height: 100vh;
  background-image: url("../img/desktop/bg1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#para1 .home h1 {
  font-family: "Lobster" !important;
  position: absolute;
  top: 30%;
  line-height: 0.9em;
  font-weight: bold;
}
#para1 .home h1 span {
  font-family: 'Montserrat', sans-serif;
  line-height: 0px;
  font-size: 0.4em;
  font-weight: 400;
}
#para1 .home .h1phone {
  font-size: 17vw;
  margin-left: 50%;
  left: -35vw;
}
#para1 .home .h1desktop {
  font-size: 7vw;
  margin-left: 50%;
  left: -35vw;
}
#para1 #projets {
  background-color: #021828;
  padding-bottom: 200px;
  padding-top: 100px;
}
#para1 #projets figure {
  overflow-x: hidden;
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: hidden;
}
#para1 #projets figure button {
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  border: 0px;
}
#para1 #projets figure::after {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 19%;
  z-index: 10;
  transition: 0.3s;
  font-weight: bold;
  color: transparent;
  text-align: center;
  padding-top: 10%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 100% 100%;
}
#para1 #projets figure:hover img {
  opacity: 1;
}
#para1 #projets figure img {
  height: 100%;
  width: 100%;
  opacity: 0.1;
  transition: 0.5s;
}
#para1 #projets .sitepfc::after {
  background-image: url("../img/desktop/pfc-fighter.png");
  content: "PFC FIGHTER";
  line-height: 65px;
}
#para1 #projets .sitetrollo::after {
  background-image: url("../img/desktop/trollo.jpg");
  content: "GESTION";
  line-height: 125px;
}
#para1 #projets .sitelpa::after {
  background-image: url("../img/desktop/lpa.jpg");
  content: "E-COMMERCE";
  font-size: 50px;
  line-height: 125px;
}
#para1 #projets .sitePairbreaker::after {
  background-image: url("../img/desktop/pairebreaker.jpg");
  content: "PAIR BREAKER";
  font-size: 60px;
  line-height: 65px;
}
#para1 #projets .siteairbnb::after {
  background-image: url("../img/desktop/airbnb.jpg");
  content: "AIRBNB";
}
#para1 #projets .sitefitnessAndU::after {
  background-image: url("../img/desktop/fitnessAndU.jpg");
  content: "SPORT";
}
#para1 #projets .modal .modal-header {
  background-color: #021828;
  color: #3399CC;
}
#para1 #projets .modal .modal-header button {
  text-shadow: none;
  color: #3399CC;
}
#para1 #projets .modal figure {
  margin-top: 20px;
}
#para1 #projets .modal figure img {
  opacity: 1;
}
#para1 #projets .modal p {
  margin: 10px;
}
#para1 #projets .modal address {
  line-height: 0;
  margin: 0;
  box-sizing: inherit;
}
#para1 #projets .modal address a {
  color: black;
  font-size: 24px;
  display: flex;
  align-items: center;
  transition: 0.2s;
}
#para1 #projets .modal address a:hover {
  text-decoration: none;
  color: #3399CC;
  background-color: #021828;
}
#para1 #projets .modal address a i {
  margin: 0 10px;
}

#para2 {
  padding-top: 190px;
  background-image: url("../img/desktop/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#para2 #apropos {
  background-color: #021828;
  color: white;
  padding-bottom: 160px;
  padding-top: 100px;
}
#para2 #apropos .paralogo p {
  font-size: 1.3em;
}
#para2 #apropos .paralogo .logos .logoFig img{
  width: 100%;
}
#para2 #apropos .moi figure {
  border-radius: 100%;
  position: sticky;
  top: 170px;
}
#para2 #apropos .moi figure img {
  border-radius: 100%;
}
#para2 #apropos .paralogo .logosS img{
  padding: 0 10px;
}
@media (min-width: 768px) {
  #para2 #apropos .paralogo .logosS img{
    padding: 0 50px;
  }
}

#para3 {
  padding-top: 190px;
  background-image: url("../img/desktop/bg3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#para3 #contact {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #021828;
  color: white;
}
#para3 #contact h5 {
  padding-bottom: 50px;
}
#para3 #contact .detail h5 {
  padding-bottom: 0;
}
#para3 #contact .detail i {
  color: white;
  background-color: white;
  border-radius: 100%;
  padding: 0 4px;
  transition: 0.3s;
}
#para3 #contact .detail i:hover {
  transform: rotate(-10deg);
}
#para3 #contact #btnContactUs {
  text-align: center;
}


@media (max-width: 400px) {
  #para1 .home {
    background-attachment: scroll;
    background-position: top;
    background-size: auto 100%;
  }
  #para1 #projets {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  #para1 #projets .sitepfc::after {
  background-image: url("../img/phone/pfc-fighter.jpg");
  }
  #para1 #projets .sitetrollo::after {
    background-image: url("../img/phone/trollo.jpg");
  }
  #para1 #projets .sitelpa::after {
    background-image: url("../img/phone/lpa.jpg");
  }
  #para1 #projets .sitePairbreaker::after {
  background-image: url("../img/phone/pairebreaker.jpg");
  }
  #para1 #projets .siteairbnb::after {
    background-image: url("../img/phone/airbnb.jpg");
  }
  #para1 #projets .sitefitnessAndU::after {
    background-image: url("../img/phone/fitnessAndU.jpg");
  }

  #para2 {
    background-image: url("../img/phone/bg2.jpg");
    background-attachment: scroll;
    background-position: top;
    background-size: 100% auto;
    background-repeat: repeat-y;
    padding-top: 100px;
  }
  #para2 #apropos {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  /*#para2 #apropos #paralogo .logoF figure {
    padding: 0 20px;
  }*/

  #para3 {
    background-image: url("../img/phone/bg3.jpg");
    background-attachment: scroll;
    background-position: top;
    background-size: 100% auto;
    padding-top: 100px;
  }
  #para3 #contact {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
