body,html{
  width: 100%;
}

// color
$clair:#0B5A97;
$clair2:#3399CC;
$fonce:#021828;
$bleu:#0B3C61;
$bleu2:#02243E;

@mixin text {
  background-clip: text;
  -webkit-background-clip: text;
}

// font-family: 'Montserrat', sans-serif;
// font-family: 'Lobster'!important;
// font-family: 'Permanent Marker' !important;


// BEGIN
// H2 @@@@@@
h2{
  font-family: 'Lobster'!important;
  font-size: 4em !important;
  color: white !important;
  padding: 40px 0;
  text-align: center;
  font-style: italic !important;
  transform: rotate(-5deg)!important;
  font-weight: bold !important;
}
h4{
  color: $clair2 !important;
  font-weight: bold !important;
  font-family: 'Permanent Marker' !important;
}


// Dropdown social
#socialShare a{
  border-radius: 5px;
  margin-top: 5px;
}
#socialShare{
  .share{
    background-color: $bleu;
    border-color: $clair;
  }
  .dropdown-menu{
    background-color: none;
    min-width: 2px;
    padding: 0;
    a{
      color:#FFFFFF!important;
    }
    .btn-twitter {
        background-color: #3399CC !important;
        width: 51px;
    }
    .btn-facebook {
        background-color: #3D5B96 !important;
        width: 51px;
    }
    .btn-google {
        background-color: #DD3F34 !important;
        width: 51px;
    }
  }
}
// end dropdown social

// MODAL
.modal-backdrop{
  z-index: 1 !important;
}
#header{
  .header{
    .desktopSocial{
      position: relative;
      a{
        i{
          margin-top: 10px;
          color: $bleu2;
          background-color: white;
          line-height: 30px;
          &:hover{
            background-color: $clair2;
          }
        }
      }
    }

  }
  #socialHolder{
    padding: 0;
  }
  h4{
    margin-top: 10px;
    font-size: 30px;
  }
  .dropdown{
    button{
      padding: 0;
      margin: 5px;
      background-color: transparent;
      border-color:transparent;
      i{
        padding: 0;
        color: $clair2;
      }
    }
    #exampleModalLong{
      .modal-dialog{
        float: left;
        width: 100%;
        height: 80%;
        margin: 0;
        .modal-content{
          height: 100%;
          background-color: $fonce;
        }
        .modal-header{
          background-color: $fonce;
          h5{
            text-align: center;
            color: white;
            font-weight: bold;
            // margin-left: 30%;
          }
          button{
            color: $clair2;
            font-size: 30px;
            text-shadow: none;
          }
        }
        .modal-body{
          padding: 0;
        }
        a{
          text-align: center;
          text-decoration: none;
          font-size: 22px;
          font-weight: bold;
          color: white;
          padding-top: 15px;
          padding-bottom: 15px;
          background-color: $fonce;
          transition: 0.2s;
        }
        a:hover{
          color: $clair2;
          background-color: white;
        }
        .modal-footer{
          background-color: $fonce;
          a{
            padding: 0 ;
            i{
              padding: 10px;
              font-size: 40px;
            }
          }
        }
      }
    }//FIN MODAL
  }
}


#header{
   background-color: $bleu2  ;
   position: fixed;
   width: 100%;
   z-index: 100;
   .dropdown{
     i{
       padding: 5px 10px;
       margin: 5px 10px;
       font-size: 22px;
     }
   }
   .header{
    display: flex;
    justify-content: space-around;
    .nav{
      a{
        font-size: 20px;
        padding: 10px 10px;
      }
    }

  }
}

#para1{
  .home{
    padding-top: 40px;
    height: 100vh;
    background-image: url("../img/desktop/bg1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h1{
      font-family: 'Lobster'!important;
      position: absolute;
      top: 30%;
      line-height: 0.9em;
      font-weight: bold;
      span{
        font-family: 'Montserrat', sans-serif;
        line-height: 0px;
        font-size: 0.4em;
        font-weight: 400;
      }
    }
    .h1phone{
      font-size: 17vw;
      margin-left: 50%;
      left: -35vw;
    }
    .h1desktop{
      font-size: 7vw;
      margin-left: 50%;
      left: -35vw;
    }
  }
  #projets{//PROJETS
    background-color: $fonce;
    padding-bottom: 200px;
    padding-top: 100px;

    figure{
      button{
        width: 100%;
        height: 100%;
        padding: 0;
        z-index: 20;
        position: absolute;
        left: 0;
        top: 0;
        background-color: transparent;
        border: 0px;
      }
      overflow-x: hidden;
      background-color: white;
      margin: 0;
      padding: 0;
      position: relative;
      overflow-y: hidden;
        &::after{
          font-size: 70px;
          font-family: 'Montserrat', sans-serif;
          position: absolute;
          top: 19%;
          z-index: 10;
          transition: 0.3s;
          font-weight: bold;
          color: transparent;
          text-align: center;
          padding-top: 10%;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          @include text;
          background-size: 100% 100%;
        }
        &:hover img{
          opacity: 1;
        }
      img{
        height: 100%;
        width: 100%;
        opacity: 0.1;
        transition: 0.5s;
      }
    }
    .siteboatonink::after{
      background-image: url("../img/desktop/boatonink.jpg");
      content:"TATOO";
    }
    .sitemoreinnovation::after{
      background-image: url("../img/desktop/moreinnovation.jpg");
      content: "AGENCE";
    }
    .sitepoolday::after{
      background-image: url("../img/desktop/poolday.jpg");
      content: "PISCINE";
    }
    .sitecoach::after{
      background-image: url("../img/desktop/fitness&u.jpg");
      content: "SPORT";
    }
    .siteairbnb::after{
      background-image: url("../img/desktop/airbnb.jpg");
      content: "AIRBNB";
    }
    .siteleboncoin::after{
      background-image: url("../img/desktop/leboncoin.jpg");
      content: "LECOIN";
    }

    .modal{
      .modal-header{
        background-color: $fonce;
        color: $clair2;
        button{
          text-shadow: none;
          color: $clair2;
        }
      }
      figure{
        margin-top: 20px;
        img{
          opacity: 1;
        }
      }
      p{
        margin: 10px ;
      }
      address{
        line-height: 0;
        margin: 0;
        // padding: 10px;
        box-sizing: inherit;
        a{
          color: black;
          font-size: 24px;
          display: flex;
          align-items: center;
          transition: 0.2s;
          &:hover{
            text-decoration: none;
            color: $clair2;
            background-color: $fonce;
          }
          i{
            margin:0 10px;
          }
        }
      }
    }
  }
}

// A PROPOS
#para2{
  padding-top: 290px;
  background-image: url("../img/desktop/bg2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  #apropos{
    background-color: $fonce;
    color: white;
    padding-bottom: 160px;
    padding-top: 100px;
    .paralogo{
      p{
        font-size: 1.3em;
      }
      .logoF{
        margin-top: 60px;
        figure{
          padding: 0 70px;
          .progress{
            width: 90%;
            top: -30px;
            left: 15px;
          }
        }
      }
      .logoS{
        figure{
          padding: 0 20px;
          .progress{
            width: 85%;
            top: -10px;
            left: 10px;
          }
        }
      }
      .logo{
        height: 200px;
        display: flex;
        justify-content: space-around;
        figure{
          position: relative;
          transition: 0.2s;
          width:70px;
          .progress{
            position: absolute;
            background-color: transparent;
          }
          img{
            position: relative;
            z-index: 3;
            width: 100%;
          }
        }
      }
    }
    .moi{
      figure{
        border-radius: 100%;
        position: sticky;
        top: 170px;
        img{
          border-radius: 100%;
        }
      }
    }
  }
}//fin a propos

#para3{
  padding-top: 290px;
  background-image: url("../img/desktop/bg3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  #contact{
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: $fonce;
    color: white;
    h5{
      padding-bottom: 50px;
    }
    .detail{
      h5{
        padding-bottom: 0;
      }
      i{
        color: white;
        background-color: white;
        border-radius: 100%;
        padding: 0 4px;
        transition: 0.3s;
        &:hover{
          transform: rotate(-10deg);
        }
      }
    }
    #btnContactUs{
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  #para1{
    .home{
      background-attachment: scroll ;
      background-position: top;
      background-size: auto 100%;
    }
    #projets{
      padding-top: 20px;
      padding-bottom: 50px;
      .siteboatonink::after{
        background-image: url("../img/phone/boatonink.jpg");
      }
      .sitemoreinnovation::after{
        background-image: url("../img/phone/moreinnovation.jpg");
      }
      .sitepoolday::after{
        background-image: url("../img/phone/poolday.jpg");
      }
      .sitecoach::after{
        background-image: url("../img/phone/fitness&u.jpg");
      }
      .siteairbnb::after{
        background-image: url("../img/phone/airbnb.jpg");
      }
      .siteleboncoin::after{
        background-image: url("../img/phone/leboncoin.jpg");
      }
    }
  }
  #para2{
    background-image: url("../img/phone/bg2.jpg");
    background-attachment: scroll;
    background-position: top;
    background-size: 100% auto;
    background-repeat: repeat-y;
    padding-top: 100px;
    #apropos{
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }
  #para3{
    background-image: url("../img/phone/bg3.jpg");
    background-attachment: scroll;
    background-position: top;
    background-size: 100% auto;
    padding-top: 100px;
    #contact{
      padding-top: 30px;
      padding-bottom: 50px;
    }
  }
}
