body,html{
  width: 100%;
}

// color
$clair:#0B5A97;
$fonce:#021828;
$bleu:#0B3C61;

// BEGIN

header{
   background-color: $fonce;
  .header{
    display: flex;
    justify-content: space-around;
    .nav{
      a{
        font-size: 20px;
      }
    }
  }
}
.para1{
  background-image: url("../img/");
}
